<!DOCTYPE html>

@{
	var script =
		Context.Request.Host.Host.Contains("app.", StringComparison.OrdinalIgnoreCase)
		? "/assets/tendr.app.js" : "/assets/tendr.js";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Montr</title>
</head>
<body>
	<div id="root"></div>
	<script>
		var COOKIE_DOMAIN = "@Environment.GetEnvironmentVariable("COOKIE_DOMAIN")";
		var AUTHORITY_APP_URL = "@Environment.GetEnvironmentVariable("AUTHORITY_APP_URL")";
		var PUBLIC_APP_URL = "@Environment.GetEnvironmentVariable("PUBLIC_APP_URL")";
		var PRIVATE_APP_URL = "@Environment.GetEnvironmentVariable("PRIVATE_APP_URL")";
	</script>
	<script src="@script"></script>
</body>
</html>
